root { 
    display: block
}
body,a,a:visited,canvas,h1,h2,h3,h4,h5,h6,dl,dt,dd,ol,ul,th,td,p,blockquote,pre,form,fieldset,legend,textarea,hr{
    margin:0; padding:0;
    font-family: "Helvetica","Arial" ! important;
    font-smooth: always;
    font-size: 0.9em;
    text-decoration: none;
    width: 100%; height: 100%;
    -webkit-font-smoothing: antialiased;
    border:none;
    overflow: hidden;
}
::-moz-selection { background: #000; color: #fff; text-shadow: none }
::selection { background: #000; color: #fff; text-shadow: none }
body{
/*    background: url('../image/wall1.png') repeat;*/
    background-color: #f8f8f8
}
.roundcorner{
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px
}
#navibar{
    position:absolute;
    height: 40px;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #ececec;
    z-index: 10;
    -webkit-box-shadow: 0 0px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0px 5px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 0px 5px rgba(0,0,0,0.5);
    -o-box-shadow: 0 0px 5px rgba(0,0,0,0.5);
    box-shadow: 0 0px 5px rgba(0,0,0,0.5);
}
#panel_main{
    position:absolute;
    height: auto;
    top: 40px;
    width: 100%;
    bottom: 0;
    overflow:hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -moz-user-select: -moz-none;
    -ms-touch-action: none
}
#profile_image{
    float: left;
    margin-left: 50px;
    width: 40px;
    height: 40px
}

#profile_username{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 0.9em
}
#loadingImage{
    position: absolute;
    margin-left: -44px;
    left: 50%;
    top: 20px
}
#panel_group{
    position: absolute;
    width: 290px;
    height: 100%;
    left: 0;
    overflow-y: auto;
    background-color: #e7ebec;
    z-index: 5;
    background-image: url('../image/panel_g_shadow.png');
}
#group_wrapper{
    width: 270px;
    overflow-y: auto;
    cursor: auto;
    z-index: 19;
}
#tg_selector{
    position: absolute;
    z-index: 20;
    left: 222px;
}
#panel_task{
    position: absolute;
    top: 1px;
    height: 100%;
    overflow-y:auto;
    overflow-x: hidden;
    z-index: 15;
    margin-left: 270px;
    background-color: #f8f8f8;
/*    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 4px 5px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 4px 5px rgba(0,0,0,0.5);
    -o-box-shadow: 0 4px 5px rgba(0,0,0,0.5);
    box-shadow: 0 4px 5px rgba(0,0,0,0.5);*/
}
.tg_title{
    margin: 0;
    text-align: center;
    height: 50px;
    font-size: 0.9em;
    border-bottom: 1px solid #dbe0e2;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -o-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
#create_group{
    color: #8d8f90;
    height: 50px;
    width: 270px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    font-size: 0.9em;
    cursor: pointer;
    background: url('../image/button_add.png') no-repeat center center;
}
.f_first{
    background-image: url('../image/tg_shadow.png');
}
.tg_title span{
    padding-right: 50px;
}
.t_content{
    margin-top: 10px;
    padding:0 5px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: #eaeaea;
}
.tg_title_text,.t_content_text{
    height: 20px;
    color: #8d8f90;
    padding-top: 15px;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    text-overflow:ellipsis
}
.t_content_text{
    float: left;
    font-size: 1.2em;
}
.tg_title_text{
    width: auto;
    margin-left: 50px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    font-size: 1.2em;
    padding-bottom: 15px;
    margin-bottom: 0
}
#tasks_sortable{
    list-style-type: none;
    margin: 0;padding: 0
}
.delete_task,.delete_group{
    width: 50px;
    height: 35px;
    padding-top: 15px;
    float:left;
    cursor: pointer;
    color: #8d8f90;
    background-image: url('../image/button_close.png');
    background-position: center center;
}
.input_task{
    margin-top: 5px;
    height: 21px;
    margin-top: 20px;
    border: 5px solid #eaeaea;
}
.input{
    margin-top: 10px;
    height: 21px;
    width: 95%;
}
#u_group,#history{
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
    width: 134px;
    float: left;
    color: #8d8f90;
    text-align: center;
    cursor: default;
    border-right: 1px solid #dbe0e2;
    -webkit-box-shadow: 1px 0 0 rgba(255,255,255,0.8);
    -moz-box-shadow: 1px 0 0 rgba(255,255,255,0.8);
    -ms-box-shadow: 1px 0 0 rgba(255,255,255,0.8);
    -o-box-shadow: 1px 0 0 rgba(255,255,255,0.8);
    box-shadow: 1px 0 0 rgba(255,255,255,0.8);
    text-shadow: 1px 0 0 rgba(255,255,255,0.6)   
}
#panel_control{
    position: fixed;
    left: 0;
    bottom:0;
    z-index: 21;
    border-top: 1px solid #dbe0e2;
    background-color: #e7ebec;
    background-image: url('../image/panel_g_shadow.png');
    height: 28px;
    -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,0.8);
    -moz-box-shadow: 0 -1px 0 rgba(255,255,255,0.8);
    -ms-box-shadow: 0 -1px 0 rgba(255,255,255,0.8);
    -o-box-shadow: 0 -1px 0 rgba(255,255,255,0.8);
    box-shadow: 0 -1px 0 rgba(255,255,255,0.8)
}
.hoverable:hover{
    background-color: #ff4545;
}
.selected{
    background-color: #ff4545;
    background-image: url('../image/tg_selected_shadow.png');
}
.tg_text_selected{
    text-shadow: 0 1px 0 rgba(0,0,0,0.6);
    color: white
}
.hidden{
    display: none
}
#logout,#friends_button,#news_button,#group_button{
    width: 72px;
    height:25px; 
    float: left;
    margin-top: 7px
}
#friends_button,#group_button{
    float: right
}
#logout{
    margin-left: 10px
}
#friends_button{
    margin-right: 20px
}
#group_button{
    margin-right: 5px;
    width:95px;
    margin-top: 10px; 
}
#group_button label{
    margin:2px;
}
.isDone{
    padding: 0;
    float: left;
    width: 50px;
    height: 35px;
    padding-top: 15px;
}
.isDoneNonIE8{
    background-image: url('../image/checkbox.png');
    background-position: center center;
}
.checked{
    background-image: url('../image/checkbox_checked.png');
}
.isdone_checkbox{
    cursor:pointer;
    opacity:0;
}
.hightlight{
    background-color: #d99216;
}
