root { 
    display: block
}
body,a,canvas,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{
    margin:0; padding:0;
    font-family: "Helvetica","Arial" ! important;
    font-smooth: always;
    text-decoration: none;
    width: 100%; height: 100%;
    -webkit-font-smoothing: antialiased;
    border:none
}
::-moz-selection { background: #000; color: #fff; text-shadow: none }
::selection { background: #000; color: #fff; text-shadow: none }
body{
/*    background: url('../image/bg_paper_small.png') repeat;*/
    background-color: #f8f8f8
}
.roundcorner{
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px
}
#navibar{
    position:absolute;
    height: 50px;
    width: 100%;
    top: 0
}
#panel_main{
    position:absolute;
    height: auto;
    top: 50px;
    width: 100%;
    bottom: 0;
    border-top: 2px dashed #eceadf
}
#profile_image{
    position: absolute;
    top: 0;
    left: 50px;
    width: 40px;
    height: 40px
}

#profile_username{
    position: absolute;
    left: 100px;
    top: 10px
}

#panel_group{
    position: absolute;
    width: 270px;
    height: 100%;
    left: 0;
    border-right: 2px dashed #eceadf;
    overflow-x: hidden;
    overflow-y:auto
}
#panel_task{
    position: absolute;
    height: 100%;
    right: 0;
    overflow-y:auto
}
.tg_title{
    margin: 0;
    text-align: center;
    height: 50px;
    border-bottom: 2px dashed #eceadf
}
.tg_title span{
    padding-left: 50px;
}
.t_content{
    margin-top: 5px;
    padding:0 5px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: #eceadf
}
.tg_title_text,.t_content_text{
    height: 35px;
    float: left;
    padding-top: 15px
}
.tg_title_text{
    width: 220px
}
.delete_task,.delete_group{
    width: 50px;
    height: 35px;
    float:left;
    padding-top: 15px
}
#input_task{
    border: 5px solid #eceadf
}
.input{
    margin-top: 5px;
    height: 21px;
    width: 95%;
}
#create_group,#u_group{
    text-align: center;
    padding: 6px;
    margin: 0;
    text-align: center;
    border-bottom: 2px dashed #eceadf 
}
.hoverable:hover{
    cursor: pointer;
    background-color: #e33091
}
.selected{
    background-color: #eceadf
}
.hiddable{
    display: none
}
#cache{
    width: 0;
    height: 0
}

