body{
  font-family: "Helvetica Neue",Arial,sans-serif;
}

.body-wrapper{
  
}

.signup-wrapper input{
  display: inline-block;
  width: 150px;
  padding: 4px;
  margin: 0;
  outline: 0;
  background-color: white;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.tutorial-wrapper{
  position: absolute;
  float: left;
  top: 200px;
  overflow: hidden;
}

.signup-wrapper{
  position: absolute;
  width: 500px;
  top: 200px;
  margin-left: 100px;
  float: left;
}

.signup-wrapper form .field-name{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
  color: #333;
}

.signup-wrapper form .holding{
  margin-bottom: 10px;
}

.signup-wrapper error-msg{
  
}
