#panel_social{
    position: absolute;
    right: -404px;
    width: 400px;
    top: 1px;
    height: 100%;
    z-index: 20;
    background-color: #f8f8f8;
/*    border-left: 1px solid #ececec;*/
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    -o-box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}
#social_tabs{
    height: 100%;
}
#social_tabs ul.ui-tabs-nav{
    height: 30px;
}
#social_tabs li{
    background-color: #eaeaea; 
    margin-top: 1px
}
#social_tabs li.ui-state-active,#user_tabs .ui-state-active{
    background: none;
}
#social_tabs .tab{
    background: none ! important;
}
.tab{
    height: 100%;
    overflow-y:auto;
    background:none;
}
#input_friend{
    width:100%;
    border: 5px solid #eaeaea
}
#friends_radios label{
    width:60px;
}
#friends_radios .ui-button{
    height: 10px
}
#friends_radios .ui-state-active{
    background: #168dd9 none;
    height: 11px;
    border-bottom: none
}
#friends_radios .ui-corner-left{
    margin-right: -5px
}
#friends_radios .ui-corner-right{
    margin-left: -1px
}
#friends_wrapper{
    padding-bottom: 80px
}
#social_loading{
    position: absolute;
    margin-top: 300px;
    margin-left: 130px
}
.friend_box{
    width: 100%;
    height: 80px;
    margin-top: 30px;
    font-family: "Helvetica","Arial" ! important
}
.friend_image{
    height: 80px;
    width: 80px; 
    float: left;
    cursor: pointer
}
.friend_image_l{
    height: 100px;
    width: 100px;
    float: left
}
.f_info{
    width: auto;
    height: 80px;
    font-size: 0.8em;
    float: left;
    margin-left: 5px;
}
.f_username{
    color: #8d8f90;
    font-size: 0.9em
}
.f_fullname{
    font-size: 1.1em;
    margin-top: 5px;
}
.f_exp{
    color: #8d8f90;
    font-size: 0.9em
}
.isfriend{
    position: relative;
    height: 31px;
    color: #8d8f90;
    font-size: 0.9em;
}
.isfriend span{
    position: absolute;
    bottom:0
}
.isfriend .ui-button{
    width: 50px;
    height: 20px
}
/*button.unfollow_friend.ui-button{
    background: #ff4545 none;
    border:1px solid #ab1e1e;
}*/
#friends_radios .ui-state-active{
    background: #168dd9;
}
.isfriend .ui-button span{
    margin-bottom: 2px
}
#f_group_wrapper{
    margin-top: 50px;
    color: #8d8f90;
    font-size: 11px;
}
.f_group{
    font-size: 13px;
    width: 76px;
    padding-right: 4px;
    padding-left: 3px;
    height: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    text-align: center;
    margin-top: 30px;
    background: url('../image/f_group_back.png') no-repeat center center;
    color: #fff;
    margin-bottom: 5px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.6);
}
.f_task{
    position: relative;
    background-color: #eaeaea;
    width:auto;
    height: 32px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
    overflow: hidden;
}
.f_task_text{
    position: absolute;
    width: 260px;
    left:20px;
    height: 20px;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 5px;
    color: #8d8f90;
    white-space: nowrap;
    text-overflow:ellipsis;
    text-align: center;
    overflow: hidden;
    font-size: 12px;
}
.f_task_texp{
    position: absolute;
    width: 25px;
    font-size: 0.8em;
    left: 0;
    height: 18px;
    padding-top: 9px;
    padding-left: 5px;
    padding-bottom: 5px;
    color: #ff4545;
    white-space: nowrap;
    text-overflow:ellipsis;
    text-align: center;
    overflow: hidden
}
.fighto{
    position: absolute;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer
}
.like{
    background: url('../image/like.png') no-repeat center center;
}
.liked{
    background: url('../image/liked.png') no-repeat center center;
}
#f_opt{
    float: left;
    height: 20px;
    width: 100%;
    font-size: 0.8em;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center
}
#f_opt label.ui-state-active{
    background: none;
    border: none;
}