#panel_social{
    position: absolute;
    right: -404px;
    width: 400px;
    top: 1px;
    height: 100%;
    z-index: 20;
    background-color: #f8f8f8;
/*    border-left: 1px solid #ececec;*/
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    -o-box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}
#social_tabs{
    height: 100%;
}
#social_tabs ul{
    height: 30px;
    border-bottom: none;
}
#social_tabs li{
    background-color: #eaeaea
}
#social_tabs .ui-state-active{
    background: none;
    border-bottom: none;
}
.tab{
    height: 100%;
    overflow-y:auto;
    background:none;
}