#panel_social ul{
}

#panel_social ul li{
  height: 50px;
  color: grey;
  padding: 10px;
  margin-left: 100px;
}

#panel_social ul li .social-list-avatar{
  width: 50px;
}

#panel_social ul li .social-list-avatar img{
  height: 50px;
}
#panel_social ul li .social-list-username{
  
}

#panel_social ul li .social-list-fullname{
  font-size: 20px;
}


#panel_social ul li  table{
  display: table;
}

#panel_social ul li  td{
  text-align: left;
  display:table-cell
}